streamlit
sentence-transformers==2.2.2
huggingface_hub==0.24.6
numpy
faiss-cpu
PyMuPDF                  # ← note: PyMuPDF (not PyPDF2)
python-docx
pandas
google-generativeai
protobuf<5
torch
google-generativeai>=0.7.1
python-pptx
# PyPDF2                 # ← comment out or remove this line
